@CHARSET "UTF-8";
body{
	margin: 0px;
}

table{
	FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif;
	font-size: 55%;
	letter-spacing: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
td{
	border: 0px;
}

<!--  -->

.body {
	margin: 0px;
	background-image: url('/Transitivo/images/REC/detran_bg1.png');
	background-repeat-x: no-repeat;
	width: 100%;
	padding-bottom: 20px;
}

.img-head2 {
	background-image: url('/Transitivo/images/REC/detran_bg_cab.png');
	background-repeat: repeat-x;
	height: 108px;
}

.img-head2>.img-head1 {
	background-image: url("/Transitivo/images/REC/detran_cab.png");
	background-repeat: no-repeat;
	height: 108px;
}

.img-head3 {
	background-image: url('/Transitivo/images/REC/detran_lat.png');
	background-repeat: no-repeat;
	height: 132px;
	width: 36px;
	left: -1px;
	top: 108px;
	position: absolute;
}

.img-head-btn {
	width: 25px;
	height: 32px;
	float: left;
	margin-left: 5px;
}

.img-footer {
	background-image: url('/Transitivo/images/REC/detran_rod_logos.png');
	background-repeat: no-repeat;
	height: 94px;
}

.img-footer2 {
	background-image: url('/Transitivo/images/REC/detran_bg3.png');
	background-repeat: repeat-x;
	height: 94px;
	text-align: right;
}

.img-footer-btn {
	position: relative;
	bottom: 24px;
	background-image: url('/Transitivo/images/REC/bot_retornar.gif');
	width: 25px;
	height: 24px;
	display: inline-block;
}

.divForm {
	border: 0px solid;
	margin-left: 50px;
}

#tableForm tr td {
	font: bold 9px Verdana, Helvetica, Arial, sans-serif;
}

.bread {
	position: absolute;
	left: 264px;
	top: 54px;
}

.bread>strong {
	font: bold 9px Verdana, Helvetica, Arial, sans-serif;
}

.divList {
	background-color: #DAA9A9;
	border: 0px solid;
	margin-left: 50px;
	margin-top: 10px;
	height: 440px;
	min-width: 226px;
	overflow: auto;
}

.list-nostyle {
	list-style-type: none;
	padding-left: 30px;
	display: inline-block;
}

.list-nostyle li {
	display: inherit;
	margin: 5px 0px;
	margin-right: 5px;
	padding: 5px;
	border: dashed 1px #B05D5D;
	color: #7C2525;
	width: 150px;
	font: bold 12px Verdana, Helvetica, Arial, sans-serif;
}

.list-nostyle li:hover {
	border: solid 1px #B05D5D;
}

.divBtn {
	border: 0px solid;
	margin-left: 50px;
	margin-top: 10px;
}

.btn {
	height: 25px;
	width: 100px;
}

.list-text {
	display: inline-block;
	width: 123px;
}

.list-btn-excluir {
	display: inline-block;
	cursor: pointer;
	padding: 2px 11px;
	border-left-width: 1px;
	border-left-style: dashed;
	padding-right: 4px;
}

.list-btn-excluir:hover {
	color: white;
}

/*---RELATÓRIO DE ATA PARA PUBLICAÇÃO---------------------------------*/
.processo {
	padding: 5px;
}

.processo>.head {
	background-color: #BABABA;
	padding-left: 5px;
}

.cab-relatorio {
	width: 100%;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	display: inline-block;
}

.cab-relatorio div {
	display: inline-block;
}

.cab-relatorio div p {
	margin: 2px;
	font: 12px bold verdana;
	font-weight: bold;
}

.list-processo {
	display: inline-block;
  	padding: 0px 15px;
}

.list-processo li {
	display: inherit;
	margin-right: -5px;
	margin-bottom: 5px;
	padding: 5px;
	border: solid 1px;
}

.item-processo-por-ata{
	display: inline-block;
	margin-right: -5px;
	margin-top: 5px;
	padding: 5px;
	border: solid 1px;
}